{% extends "core/base.html" %}

{% block content %}
<h2>{% if form.instance.pk %}Editar Projeto{% else %}Novo Projeto{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Salvar</button>
    
    {% if form.instance.pk %}
        <!--volta para detalhes do projeto -->
        <a href="{% url 'core:projeto_detail' form.instance.pk %}" class="btn btn-secondary">Voltar</a>
    {% else %}
        <!--volta para dashboard -->
        <a href="{% url 'core:dashboard' %}" class="btn btn-secondary">Voltar</a>
    {% endif %}
</form>
{% endblock %}