{% extends "core/base.html" %}

{% block content %}
<h2>{{ empresa.nome }}</h2>

<p>{{ empresa.descricao }}</p>

<hr>

<h3>Projetos</h3>
<ul>
{% for projeto in projetos %}
    <li>
        <a href="{% url 'core:projeto_detail' projeto.id %}">
            {{ projeto.nome }}
        </a>
        {% if projeto.criador == user %} <strong>(meu projeto)</strong> {% endif %}
    </li>
{% empty %}
    <li>Não há projetos em que participo</li>
{% endfor %}
</ul>

<div style="margin-top: 20px;">
    {% if empresa.criador == user %}
        <!--<a href="{% url 'core:projeto_create' %}" class="btn btn-primary">Criar projeto</a>-->
        <a href="{% url 'core:empresa_update' empresa.id %}" class="btn btn-primary">Editar empresa</a>
        
        <form method="post" action="{% url 'core:empresa_delete' empresa.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir empresa</button>
        </form>
    {% endif %}
    
    <a href="{% url 'core:dashboard' %}" class="btn btn-secondary">Voltar ao Dashboard</a>
</div>
{% endblock %}